# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\0鼎利软件工作室\shiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
